
.bgImage{
    width: 100%;
    height: auto;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    background-image: url(images/laugher1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
    align-content: center;
}
@keyframes change{
    0%
    {
        background-image: url(images/laugher1.jpg);
    }

    20%
    {
        background-image: url(images/laugherpro.jpg);
    }

    40%
    {
        background-image: url(images/laugherultra.jpg);
    }



}
.quote {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#020024,
    #090979, #00d4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 800;
  }

.head-main {
    font-size:80px ;
    font-weight:900;
    text-align: center;
    
}
.head-sub-main {
    text-align: center;
    font-size:40px ;
    font-weight:600;
    padding:5px 20px 10px 20px;
}
.head-last {
    text-align: center;
    font-size:20px ;
    font-weight:600;
    padding:5px 20px 20px 20px;
}
.homebtn{
    text-align: center;
    justify-content: center;
    display: block;
}
