{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Humorer | Profile</title>{% endblock %}
{% block content %}
<style>
    #userstory {
        display: none;
        }
    
#change:link, #change:visited {
  background-color: #7371f7;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

#change:hover, #change:active {
  background-color: rgb(52, 20, 165);
}
</style>
<script>
    function hider() {
      var userstory = document.getElementById("userstory");
      userstory.style.display = "inline";
    }
</script>
<div class="container-md" style="min-height:65vh; align-content: center;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="media">
            <div class="media-body">
                <!--<a onclick="hider()">Stories by: {{ form.instance.username }}</a>-->
                <div id ='userstory'>
                {% for story in stories %}

                        <h2 class="card-title">{{ story.title }}</h2>
                        <p class="card-text text-muted h6"> {{ story.created_on}} </p>
                        <p class="card-text">{{story.content|slice:":100" }}<span id="dots">...</span> 
                            <span id="more" >{{story.content|slice:"100:" }}</span>
                            
                        </p>
                {% endfor %}
                </div>
                <p></p>
            </div>
        </div>

        {% if user.username == form.instance.username %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Profile Information</legend>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div> 
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                
               

                <a href="{% url 'password_reset' %}" >Change password?</a>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
            <a href="{% url 'logout'%}?next={% url 'home' %}" class="btn btn-outline-info">Logout</a>

        {% endif %}
    </form>
</div>
<div  style="text-align: center; margin-top: 5%;">
    <h3 class="quote"><q>Privacy is not an option<br>
     and it shouldn't be the price we accept <br>
     for just getting on the internet
    </q></h3>
    <h5 class="quote">~ Gary Kovacs</h5>
  </div> 
{% endblock content %}
