{% extends "base.html" %}
{% block content %}
<style>
    #myDIV {
        display: none;
        }
</style>
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  var y = document.getElementById("myBtn")
  if (x.style.display === "none") {
    x.style.display = "block";
    y.innerHTML = "Hide Dark"
  } else {
    x.style.display = "none";
    y.innerHTML = "Show Dark"
  }
}
</script>
<div id="home2" class="bgImage">
    <h1 class="head-main" style="color: yellow;">CRACK A RIB</h1>
    <h2 class="head-sub-main" style="color: yellow;">Dark humor, Memes, Vines, Funny stories all in one place</h2>
    <h3 class="head-last" style="color: yellow;">You can count on us to lighten up your day &#128516</h3>
    <div class="homebtn">  
    <div  ><button type="button" class="btn btn-secondary btn-lg" onclick="myFunction()" id="myBtn">Show Dark</button></div></div>

</div>
</div>
<div style="padding-top: 10%;" class="bgImage" >
<div class = "cont">
    <h4>Welcome {{ user.username }}</h4>
    {% for joke in jokes %}
    <ul><li class = 'joke'><span>{{joke}}</span></li></ul>
    {% endfor %}

</div>
</div>
<div style="padding-top: 10%;" class="bgImage" >
<div class="cont2" >
        <div  style="text-align: center;"><span >Dark &#128128</span><br>
        <span id="dots">...</span>
        </div>
        <div id="myDIV">
        {% for dark_joke in dark_jokes %}
        
          <ul><li class = 'joke'><span>{{dark_joke}}</span></li></ul>
        
        {% endfor %}
        </div>
        
</div> 

</div>

{% endblock %}