{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    #myDIV {
        display: none;
        }

</style>
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  var y = document.getElementById("myBtn")
  if (x.style.display === "none") {
    x.style.display = "block";
    y.innerHTML = "Hide Dark"
  } else {
    x.style.display = "none";
    y.innerHTML = "Show Dark"
  }
}
</script>
<div id="home2" class="bgImage">
  <div style="padding-top: 3%;">
    <h1 class="head-main" style="color: yellow;text-align: center;">CRACK A RIB</h1>
    <h2 class="head-sub-main" style="color: yellow;text-align: center;">Dark humor, Memes, Vines, Funny stories all in one place</h2>
    <h3 class="head-last" style="color: yellow;text-align: center;">You can count on us to lighten up your day &#128516</h3>
  </div>
    <div class="homebtn" style="display: block; justify-content: center; text-align: center; padding-bottom: 5%; padding-top: 3%;">  
    <div  ><button type="button" class="btn btn-secondary btn-lg" onclick="myFunction()" id="myBtn">Show Dark</button></div></div>
</div>
</div>
<span style="background-color: black; color: yellow; border-radius: 0px 0px 10px 0px; text-align: center;">Editor's Choice</span>
<div style="padding-top: 2%;" > 
<div class="container-md border" style="text-align: center; border-radius: 20px;">
    <!--<h4>Welcome {{ user.username }}</h4>-->
    <h1>10 funny jokes for some Serotonin activation &#128513</h1>
    <hr>
    {% for joke in jokes %}
    <ul style="list-style-type: none;"><li class = 'container-sm border' style="border-radius: 20px; box-shadow: 5px 5px 5px gray; padding: 5%;"><span>&#128517 {{joke}}</span></li></ul>
    {% endfor %}

</div>
</div>
<hr>
<div style="padding-top: 0%;">
<div class="container-md border" style="border-radius: 20px;">
        <div  style="text-align: center;"><span >Dark &#128128</span><br>
        <span id="dots">...</span>
        </div>
        
        <div id="myDIV" style="text-align: center;">
          <h1>10 dark jokes to test how morbid your sense of how is!</h1>
          <hr>
        {% for dark_joke in dark_jokes %}
        
          <ul style="list-style-type: none;"><li class = 'container-sm border' style="border-radius: 20px; box-shadow: 5px 5px 5px gray; padding: 5%;"><span>&#128128 {{dark_joke}}</span></li></ul>
        
        {% endfor %}
        </div>
        
</div> 

</div>
<div class="bgImage" style="text-align: center; margin-top: 5%;">
  <h3 class="quote"><q>At the height of laughter,<br>
   the universe is flung into a kaleidoscope of <br>
   new possibilities
  </q></h3>
  <h5 class="quote">~ Jean Houston</h5>
</div>


{% endblock %}