{% extends "base.html" %}
    {% block content %}
    <div id="home2" class="bgImage"><h1 class="head-sub-main">A day without memes is full of stress, depression and hypertension which ultimately
      leads to photosynthesis
    </h1></div>

    {% if memes %}
    <div style="padding-top: 10%; width:100vw" class="bgImage" >
      <div class="cont">
    

      {% for meme in memes %}
      <div class="row" >

          <div class="column" id="meme">
            <a target="_blank" href="{{ meme.image.url }}">
              <img style="width: 100%;" class="img-responsive"  src="{{ meme.image.url }}" alt="">
            </a>
          </div>
      </div>
      {% endfor %}

      </div>

    {% else %}
      <p>There are no memes in the database.</p>
    {% endif %}
      </div>      
    {% endblock %}
   