{% extends "base.html" %}
{% block title %}<title>Humorer | Memes</title>{% endblock %}
{% block meta_description %}
    Dive into a world of laughter with our hilarious meme collection. From relatable humor to the absurdly funny, explore a variety of memes that will have you rolling on the floor. Get ready to lighten your mood and brighten your day!
{% endblock %}
    {% block content %}
    <div id="home2" class="bgImage" >
      <h2 style="text-align: center; color: yellow; margin: 10%;"> Meme-ories are made here – enter at your own risk and prepare for meme magic!" <i class="fas fa-laugh    "></i>
    </div>

    {% if memes %}
    <div class="container-sm border" style="border-radius: 20px;text-align: center;">
      <span style="background-color: black; color: yellow; border-radius: 0px 0px 10px 10px;">Editor's Choice</span>
      <h3>10 funny memes to start your day!</h3>

      {% for meme in memes %}

      <div style="padding-top: 2.5%; max-width: inherit; "  >

            <a target="_blank" href="{{ meme.image.url }}" class="text-center">
              <img class="img-fluid" id="meme" src="{{ meme.image.url }}" alt="" >
            </a>
            {% if user.is_authenticated %}
            <form  method="POST">
                {% csrf_token %}

                <button type="submit" name="meme_id" value="{{meme.id}}" class="Memer btn btn-prmary btn btn-sm" id="like_count_{{meme.id}}" style="margin-top: 2%;">
                  <i class="fa fa-thumbs-up"></i> {{meme.like_count}} Laugh{{meme.like_count|pluralize }}
                </button>
            </form>
            {% else %}
            <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}"><i class="fa fa-thumbs-up"></i></a><br>
            {% endif %}
            
            <button class="btn btn-outline-info" onclick="copyMemeUrl('{{ meme.absolute_meme_url }}')" style="margin-top: 0.5em;"><i class="fas fa-share"></i></button>
            <div id="shareUrl"></div>
      {% endfor %}

    {% else %}
      <p>There are no memes in the database.</p>
    {% endif %}
    </div>  
    <div style="text-align: center; margin-top: 5%;">
      <h3 class="quote"><q>There's nothing in the<br>
       world so irresistibly <br>
       contagious as laughter
      </q></h3>
      <h5 class="quote">~ Charles Dickens</h5>
    </div> 
    
    <script>

      $(document).on('click', '.Memer', function (e) {
          e.preventDefault();
          var memeid = $(this).val();
          var button = $(this);
          $.ajax({
              type: 'POST',
              url: '{% url "likeM" %}',
              data: {
                  postid: memeid,
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                  action: 'post'
              },
              success: function (json) {
                var likeCountElement = document.getElementById("like_count_" + memeid);
                likeCountElement.textContent = json.result + " Laugh" + (json.result == 1 ? "" : "s");
              },
              error: function (xhr, errmsg, err) {

              }
          });
      });
      
      function copyMemeUrl(url) {
        var textarea = document.createElement('textarea');
        textarea.value = url;
        textarea.setAttribute('readonly', '');
        textarea.style.position = 'absolute';
        textarea.style.left = '-9999px';
        document.body.appendChild(textarea);
        textarea.select();
        document.execCommand('copy');
        document.body.removeChild(textarea);

        // Display the confirmation message next to the clicked button
        var shareUrlElement = document.createElement('div');
        shareUrlElement.innerHTML = 'URL copied to clipboard &#128513';
        var button = event.target;
        button.parentNode.appendChild(shareUrlElement);

        // Optionally, clear the message after a few seconds
        setTimeout(function () {
            shareUrlElement.parentNode.removeChild(shareUrlElement);
        }, 3000);
    }
    </script>


{% endblock %}

   