{% extends "base.html" %}
    {% block content %}
    <div id="home2" class="bgImage" >
      <h1 style="text-align: center; color: yellow; margin: 10%;">A day without memes is full of stress, depression and hypertension. Laugh to live! <i class="fas fa-laugh    "></i>
    </div>

    {% if memes %}
    <div class="container-sm border" style="border-radius: 20px;text-align: center;">
      <span style="background-color: black; color: yellow; border-radius: 0px 0px 10px 10px;">Editor's Choice</span>
      <h1>10 funny memes to start your day!</h1>

      {% for meme in memes %}
      <div style="padding-top: 10%; max-width: inherit; "  >

            <a target="_blank" href="{{ meme.image.url }}" class="text-center">
              <img class="img-fluid" id="meme" src="{{ meme.image.url }}" alt="" >
            </a>
            
          
      </div>
      {% endfor %}

    {% else %}
      <p>There are no memes in the database.</p>
    {% endif %}
    </div>  
    <div style="text-align: center; margin-top: 5%;">
      <h3 class="quote"><q>There's nothing in the<br>
       world so irresistibly <br>
       contagious as laughter
      </q></h3>
      <h5 class="quote">~ Charles Dickens</h5>
    </div>    
    {% endblock %}
   