{% extends "base.html" %}
    {% block content %}


    {% if shorts %}
    <div style="padding-top: 10%;" class="bgImage" >
      <div class="cont">
    

      {% for short in shorts %}
      <div class="container">
        <h2>Responsive Embed</h2>
        <p>Create a responsive video and scale it nicely to the parent element with an 16:9 aspect ratio</p>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{{ short.video }}"></iframe>
        </div>
      </div>
      {% endfor %}

      

    {% else %}
      <p>There are no shorts in the database.</p>
    {% endif %}      
    {% endblock %}
    </div>
    </div>
    
  </div>
</body>
</html>
  